<script>
  import Log from "./debug";
  import BluetoothClientChannel from "./api/BluetoothClientChannel";
  import BluetoothApi from "./api/BluetoothApi";
  import Devices from "./Devices.svelte";

  const channel = new BluetoothClientChannel();
  const api = new BluetoothApi(channel);

  let rootHeight;	
  let isFetching = false;
  let devices = []; //[{ name: "Asus" }, { name: "Huawei" }, { name: "Asus" }, { name: "Huawei" }, { name: "Asus" }, { name: "Huawei" }, { name: "Asus" }, { name: "Huawei" }];

  function connect(device) {
    isFetching = true;
    api
      .connect(device)
      .then(server => {
        Log.debug(`Server: ${JSON.stringify(server)}`);
        isFetching = false;
      })
      .catch(err => {
        Log.debug(`Error: ${err}`);
        isFetching = false;
      });
  }

  function scan() {
	isFetching = true;
    api
      .scanDevices()
      .then(result => {
        Log.debug(`Result: ${JSON.stringify(result)}`);
        devices = result;
        isFetching = false;
      })
      .catch(err => {
        Log.debug(`Error: ${err}`);
        isFetching = false;
      });
  }
</script>

<style>
  .root {
    width: 100%;
    min-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
	box-sizing: border-box;
  }

  h1 {
    color: #008577;
  }

  button {
    width: 170px;
    height: 70px;
    border-radius: 35px;
    border-width: 1px;
    border-color: white;
    background-color: #008577;
    margin-top: 20px;
    color: white;
    font-size: 30px;
  }
  .mask {
    position: absolute;
    top: 0;
    left: 0;
	right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.5);
  }

  .circular {
    animation: rotate 1.5s linear infinite;
    height: 100px;
    position: relative;
    width: 100px;
  }

  .path {
    stroke-dasharray: 250;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 250;
    }
    50% {
      stroke-dashoffset: 70;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 250;
      transform: rotate(450deg);
    }
  }
  @keyframes color {
    0% {
      stroke: #4285f4;
    }
    25% {
      stroke: #de3e35;
    }
    50% {
      stroke: #f7c223;
    }
    75% {
      stroke: #1b9a59;
    }
    100% {
      stroke: #4285f4;
    }
  }
</style>

<div class="root" bind:clientHeight={rootHeight}>
  <h1>Citadel Client</h1>
  <button on:click={scan}>Search</button>
  <Devices {devices} onClick={connect} />
  {#if isFetching}
    <div class="mask" style="height: {rootHeight}px;">
      <svg class="circular">
        <circle
          class="path"
          cx="50"
          cy="50"
          r="40"
          fill="none"
          stroke-width="6"
          stroke-linecap="round"
          stroke-miterlimit="10" />
      </svg>
    </div>
  {/if}
</div>
