<script>
  export let devices;
  export let onClick;
</script>

<style>
  .devices-list {
    margin-top: 20px;
    background-color: white;
    width: 100%;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: rgba(200, 200, 200, 0.5);
  }
  .device-item {
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .device-item-not-first {
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: rgba(200, 200, 200, 0.5);
  }
</style>

<div class="devices-list">
  {#each devices as device, index (device)}
    {#if index != 0}
      <div
        on:click={() => onClick(device)}
        class="device-item device-item-not-first">
        {device.name}
      </div>
    {:else}
      <div on:click={() => onClick(device)} class="device-item">
        {device.name}
      </div>
    {/if}
  {/each}
</div>
